{% extends "base.html" %}
{% block content %}

<h1 class="mb-3">Lista de Animais</h1>

{% if is_admin_or_staff %}
<a href="{{ url_for('animais_novo', cliente_id=0) }}" class="btn btn-success mb-3">
    ➕ Adicionar Animal
</a>
{% endif %}

<table class="table table-custom shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Raça</th>
            <th>Data de Nascimento</th>
            <th>Dono (Cliente ID)</th>
            <th>Data de Criação</th>
        </tr>
    </thead>
    <tbody>
      {% for animal in animais %}
        <tr>
            <td>{{ animal.id }}</td>
            <td>{{ animal.nome }}</td>
            <td>{{ animal.especie }}</td>
            <td>{{ animal.raca }}</td>
            <td>{{ animal.data_nascimento }}</td>
            <td>{{ animal.cliente_id }}</td>
            <td>{{ animal.created_at }}</td>
        </tr>
          
      {% endfor %}
    </tbody>
</table>

{% endblock %}
