{% extends "base.html" %}
{% block content %}
<form method="post">

  <p>
       Selecione o cliente:<br>
       <select name="cliente_id" required class="form-select">
           <option value="">-- Escolha um cliente --</option>
           {% for cliente in clientes %}
           <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
           {% endfor %}
       </select>
  </p>

  <p>
    Nome:<br>
    <input type="text" name="nome" required value="{{ animais.nome if animais else '' }}">
  </p>
  <p>
    Espécie:<br>
    <input type="text" name="especie" required value="{{ animais.especie if animais else '' }}">
  </p>
  <p>
    Raça:<br>
    <input type="text" name="raca" required value="{{ animais.raca if animais else '' }}">
  </p>
  <p>
    Data de Nascimento:<br>
    <input type="date" name="data_nascimento" required value="{{ animais.data_nascimento if animais else '' }}">
  </p>
  

  <button type="submit">Guardar</button>
  <a href="{{ url_for('animais') }}">Cancelar</a>
</form>

{% endblock %}