{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1> 
    <button> <a style="text-decoration: none; color: rgb(0, 0, 0);" href="{{ url_for('cliente_novo') }}">➕ Novo Cliente</a></button>
    <br>
    <table class="table table-custom shadow-sm" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Morada</th>
                <th>Data de Criação</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.morada }}</td>
                <td>{{ cliente.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</body>
</html>

{% endblock %}