{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="login-card p-4">
      <h3 class="text-center mb-4">Login Cliente</h3>

      <form method="post">
        <div class="mb-3">
          <label>Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
          <label>Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>

        <button class="btn btn-login w-100">Entrar</button>
      </form>

      <div class="text-center mt-3">
        <a href="{{ url_for('index') }}">← Voltar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
