{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
  <p>Utilizador: <strong>{{ username }}</strong></p>
  <p>Perfil: <strong>{{ role }}</strong></p>

  {% if role == "admin" %}
    <p>Permissões: pode ver/criar/editar/apagar users, clientes, animais e consultas.</p>
  {% elif role == "staff" %}
    <p>Permissões: pode ver/criar/editar clientes, animais e consultas. Não pode apagar.</p>
  {% else %}
    <p>Permissões: pode ver os seus dados pessoais, os seus animais e as suas consultas.</p>
  {% endif %}
{% endblock %}
